trunk/xjctoolbox-examples/src/main/resources/META-INF/types/xjctoolbox.examples.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://xjctoolbox.examples"
	targetNamespace="http://xjctoolbox.examples"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb">

	
	<xsd:simpleType name="userIdSimpleType">
		<xsd:annotation>
			<xsd:documentation>
				Locale code
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[a-zA-Z]{10}"></xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="userId">
		<xsd:simpleContent>
			<xsd:extension base="userIdSimpleType"></xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:simpleType name="countSimpleType">
		<xsd:annotation>
			<xsd:documentation>
				Locale code
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:int">
			<xsd:maxInclusive value="10000"></xsd:maxInclusive>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="count">
		<xsd:simpleContent>
			<xsd:extension base="countSimpleType"></xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="vehicle">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="phoneNumber">
		<xsd:annotation>
			<xsd:appinfo>
				<annotation class="xjctoolbox.examples.PhoneNumberValidation" />
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="16" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:element name="User">
		<xsd:annotation>
			<xsd:appinfo>
				<implements interface="xjctoolbox.examples.GetNameAware" />
				<implements interface="xjctoolbox.examples.SetNameAware" />
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Id" type="userId"/>
				<xsd:element name="Name" type="xsd:string"/>
				<xsd:element name="Vehicles" type="vehicle" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="PhoneNumber" type="phoneNumber"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="Types1">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Tboolean" type="xsd:boolean"/>
				<xsd:element name="Tbyte" type="xsd:byte"/>
				<xsd:element name="Tshort" type="xsd:short"/>
				<xsd:element name="Tint" type="xsd:int"/>
				<xsd:element name="Tlong" type="xsd:long"/>
				<xsd:element name="Tfloat" type="xsd:float"/>
				<xsd:element name="Tdouble" type="xsd:double"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="Types2">
		<xsd:annotation>
			<xsd:appinfo>
				<keepPrimitives/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Tboolean" type="xsd:boolean"/>
				<xsd:element name="Tbyte" type="xsd:byte"/>
				<xsd:element name="Tshort" type="xsd:short"/>
				<xsd:element name="Tint" type="xsd:int"/>
				<xsd:element name="Tlong" type="xsd:long"/>
				<xsd:element name="Tfloat" type="xsd:float"/>
				<xsd:element name="Tdouble" type="xsd:double"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>
